[Unit]
Description=Telegram Bot for Kindle Highlights Upload to Notion
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/config/KindleToNotion/main.py  # Python 脚本的路径
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
